header{
   border-top: 1px solid rgba(255, 244, 223, 0.6);
   background-image: url('../pic/ford.svg');
   background-color:rgba(20, 178, 240, 0.5);
   background-blend-mode: multiply;
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 400px;
}


  .hero{
  display:flex;
  flex-direction: column;
  justify-content:center;
  max-width:700px;
  }

  .hero-content{
    max-width:100%;
    margin-left: 8%;
  }

    .p-head{
      color:#ffd700;
      letter-spacing: 20%;
      font-size:60%;
      height:10%;
    }
    .head-head{
      height:60%;
      width:100%;
      color:white;
      font-size:60px;
      line-height: 1.3;
      margin:4%;
      margin-left:6%;
    }
    .p-content{
      height: 30%;
      color:whitesmoke;
      line-height:1.4;
      max-width: 70%;
      font-size:18px;
    }

  .hero-button{
    display:flex;
    gap:15%;
    margin-left:8%;
    margin-top:2%;
    margin-bottom:4%;
  }
    .hero-button button{
      padding:10px 50px;
      font-size:16px;
      cursor:pointer;
      width:36%;
      max-width: 50%;
    }
    .explore{
    border:none;
    background-color:rgb(254, 63, 63); 
    color:#ffffff;
    border-radius: 30px;
    display: flex;
  flex-direction: row;
  align-items: center;
    }
    .how{
      background-color: rgb(6, 1, 17);
  color:rgb(255, 223, 40);
  border-radius: 30px;
  border:1.5px solid #ffdf28;
  display: flex;
  flex-direction: row;
  align-items: center;
    }
  
.icons{
  display:flex;
  flex-wrap:wrap;
  /* background-color: brown; */
  margin-top:3.5%;
  margin-left:9%;
  margin-right:6%;
  gap:10%;
  }
  .icon-buy{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    /* background-color:greenyellow ; */
  }
  .icon-check{
    /* background-color: aqua; */
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .icon-support{
    /* background-color: chartreuse; */
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .icon-global{
    /* background-color: chocolate; */
    flex:1;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
  }
    .icon-head{
      color: white;
      font-weight:700;
      margin-top: 3.3%;
      margin-bottom: 3%;
    }
    .text{
      color:white;
      width:80%;
    }


  /*1 info, 3cars */

.feature-cars{  
  display:flex;
  margin:4%;
  gap:2%;
}
  .const-feature{
    flex:1;
    display:flex;
    flex-direction:column;
  }
    .const-feature-gold{
      font-size:12px;
    }
    .const-feature-heading{
      margin-left:2%;
      color:white;
      line-height: 1.3;
    }
      .const-feature-heading h2{
        margin:2px;
      }
    .const-feature-content{
      color:aliceblue;
      margin:2px;
    }
      .const-feature-content p{
        margin:10px;
      }
    .const-feature button{
      width:150px;
      max-width:100%;
      padding:10px 20px;
      background-color: rgb(6, 1, 17);
      color:rgb(255, 223, 40);
      border-radius: 30px;
      border:1.5px solid rgb(255, 223, 40);
      margin-top: 10%;
    }
  .const-card{
    flex:1;
    background-color: rgba(57, 57, 56, 0.202);
    color:#ffffff;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius: 20px;
    max-height: 400px;
  }
    .card-img{
      width: 90%;
      height: 50%;
      object-fit: cover;
      border-radius: 20px;
    }
    .card-name{
      color:white;
      font-size:20px;
      margin:0;
      margin-top:2%;
      margin-left:4%;
    }
    .card-year{
      width: 90%; 
      height:3%;
      color:white;
      font-size:15px;
      text-align:center;
      margin:4px;
      margin-left:4%;
      color:rgb(189, 188, 188);
    }
    .card-info{
      display: flex;
      align-items:center;
      justify-content:center;
      gap:3%;
      width:90%;
      margin-left:4%;
      margin-top:2%;
    }
      .engine1{
        flex:1;
        display:flex;  
        align-items: center;  
        gap:4%; 
      }
      .speedometer1{
        flex:1;
        display:flex;  
        align-items: center; 
        gap:4%;
      }
    .p-price-arrow{
      display:flex;
      width:60%;
      justify-content:start;
      justify-content:space-between;
      align-items:center;
      margin-left:3%;
      margin-bottom:2%;
    }
      .p-price-arrow p{
        color:white;
        font-size:20px;
      }
      .p-price-arrow svg{
        border:1.4px solid #ffd700;
        border-radius:50%;
        width:27px;
        height:27px;
        }

  .see-all{
    height:fit-content;
    align-items:center;
    margin-top:auto;
    margin-bottom:auto; 
    justify-content:center;
    margin-left: 1%;
    border:1.3px solid #ffd700;
    border-radius:50%;
  }

.middle{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin:4%;
  gap:2%;
}
.car-garage img{
  flex:1;
  display:flex;
  object-fit:contain; 

} 




.platform{
  background-image: url('../pic/drive.jpeg');
  background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
  .platform h2{
    display: flex;
    width:50%;
    color:#ffffff;
  }
  .platform p{
    display: flex;
    width:20%;
    color:#ffffff;
  }